[Desktop Entry]
Encoding=UTF-8
Name=Link to Classifier
Type=Link
URL=https://rdp.cme.msu.edu/classifier/classifier.jsp
Icon=/home/biovm/Downloads/17214.svg
Name[en]=Step-4-Taxonomic_assignment_RDP
