[Desktop Entry]
Encoding=UTF-8
Name=Link to Classifier
Type=Link
URL=https://biit.cs.ut.ee/clustvis/
Icon=/home/biovm/Downloads/17214.svg
Name[en]=Step-7-Generate_PCA_and_Heatmap.desktop
